.worker-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.worker-header__person {
    display: flex;
    flex-direction: row;
}

.person-image {
    margin-left: 100px;
    max-width: 500px;
    max-height: 500px;
}

.person-form {
    margin-left: 200px;
}

.worker-header {
    font-size: 24px;
    margin-bottom: 20px;
}

.worker-item {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.worker-label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.worker-sex {
    margin: 0 10px 10px 0;
    padding: 5px;
}

.worker-input {
    margin: 0 10px 10px 0;
    padding: 5px;
}

.worker-info {
    margin: 0 10px 10px 0;
}

.worker-info__administrator-comment {
    font-style: italic;
    padding: 0 260px 80px 0;
}
