<!DOCTYPE html>
<html lang="eng">
<head>
    <link rel="stylesheet" type="text/css" href="../css/branch.html.css">
    <title>Org structure branch</title>
</head>
<div class="workers">
    <h1 class="workers__title">Workers</h1>
    <ul class="workers__list list">
        <div class="list__element element">
            <a class="element__link" href="/worker.php">Andrey</a>
        </div>
    </ul>
</div>
</html>