<!DOCTYPE html>
<html lang="eng">
<head>
    <link rel="stylesheet" type="text/css" href="../css/worker.html.css">
    <title>Worker</title>
</head>
<div class="">
    <h1 class="">Worker {{ name }}</h1>
    <ul class="">
        <div class="">
        </div>
    </ul>
</div>
</html>